/* RESET  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #b9b9b9;
    text-align: center;
    border-radius: 27px;
    margin-top: 10%;
}


.container button {
    padding: 10px;
    border-radius: 10px;
    border: 1px white solid;
    margin: 15px;
}

.container ol {
    list-style: none;
}

.liStyle {
    padding: 10px;
} 